<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    어노테이션 활성화-->
    <context:annotation-config/>
    <context:component-scan base-package="com.KioskSNU.secure"/>
    <context:component-scan base-package="com.KioskSNU.snu.dao"/>
    <context:component-scan base-package="com.KioskSNU.snu.impl"/>

<!--    트랜잭션 어노테이션 설정-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

<!--    데이터베이스 연결-->
    <context:property-placeholder location="classpath:config/database.properties"/>
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName"    value="${jdbc.driverClassName}"/>
        <property name="url"                value="${jdbc.url}"/>
        <property name="username"           value="${jdbc.username}"/>
        <property name="password"           value="${jdbc.password}"/>
        <property name="initialSize"        value="${jdbc.initialSize}"/>
        <property name="maxTotal"           value="${jdbc.maxTotal}"/>
    </bean>

    <!-- mybatis: Mapper 어노테이션이 있는 클래스를 Mapper로 등록 -->
    <mybatis:scan base-package="com.KioskSNU.snu.mapper" annotation="org.apache.ibatis.annotations.Mapper"/>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:config/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:config/mappers/*.xml"/>
    </bean>

<!--    자리 세션 관리-->
    <bean id="seatMap" class="java.util.concurrent.ConcurrentHashMap">
        <constructor-arg>
            <map key-type="java.lang.Integer" value-type="com.KioskSNU.snu.dto.UsageSeatDTO"/>
        </constructor-arg>
    </bean>

<!--    방 세션 관리-->
    <bean id="roomMap" class="java.util.concurrent.ConcurrentHashMap">
        <constructor-arg>
            <map key-type="java.lang.Integer" value-type="com.KioskSNU.snu.dto.UsageRoomDTO"/>
        </constructor-arg>
    </bean>

	<!-- 외부 키오스크 장바구니 세션 관리 -->
    <bean id="ticketMap" class="java.util.HashMap" scope="session">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="java.lang.Object"/>
        </constructor-arg>
        <aop:scoped-proxy/>
    </bean>
</beans>