<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.KioskSNU.snu.service.UsageCommutationTicketService">
    <resultMap id="usageCommutationTicketResultMap" type="usageCommutationTicketAlias">
        <id     column="id"                     property="id"/>
        <result column="account_id"             property="account_id"/>
        <result column="account_username"       property="account_username"/>
        <result column="account_password"       property="account_password"/>
        <result column="account_phoneNumber"    property="account_phoneNumber"/>
        <result column="account_point"          property="account_point"/>
        <result column="account_remainTime"     property="account_remainTime"/>
        <result column="startDate"              property="startDate"/>
        <result column="endDate"                property="endDate"/>
    </resultMap>

    <insert id="insert" parameterType="usageCommutationTicketAlias">
        insert
        into        usageCommutationTicket (account_id, startDate, endDate)
        values      (#{account_id}, #{startDate}, #{endDate});
    </insert>

    <update id="update" parameterType="usageCommutationTicketAlias">
        update      usageCommutationTicket
        set         endDate = #{endDate}
        where       id = #{id};
    </update>

    <delete id="delete" parameterType="usageCommutationTicketAlias">
        delete
        from        usageCommutationTicket
        where       id = #{id};
    </delete>

    <select id="getById" parameterType="int" resultMap="usageCommutationTicketResultMap">
        select      u.id                    as id,
                    a.id                    as account_id,
                    a.username              as account_username,
                    a.password              as account_password,
                    a.phoneNumber           as account_phoneNumber,
                    a.point                 as account_point,
                    a.remainTime            as account_remainTime,
                    u.startDate             as startDate,
                    u.endDate               as endDate
        from        usageCommutationTicket as u
        join        account as a
        on          u.account_id = a.id
        where       u.id = #{id};
    </select>

    <select id="getAll" resultMap="usageCommutationTicketResultMap">
        select      u.id                    as id,
                    a.id                    as account_id,
                    a.username              as account_username,
                    a.password              as account_password,
                    a.phoneNumber           as account_phoneNumber,
                    a.point                 as account_point,
                    a.remainTime            as account_remainTime,
                    u.startDate             as startDate,
                    u.endDate               as endDate
        from        usageCommutationTicket as u
        join        account as a
        on          u.account_id = a.id
        order by    u.endDate desc;
    </select>

    <select id="getAllByAccount" parameterType="accountAlias" resultMap="usageCommutationTicketResultMap">
        select      u.id                    as id,
                    a.id                    as account_id,
                    a.username              as account_username,
                    a.password              as account_password,
                    a.phoneNumber           as account_phoneNumber,
                    a.point                 as account_point,
                    a.remainTime            as account_remainTime,
                    u.startDate             as startDate,
                    u.endDate               as endDate
        from        usageCommutationTicket as u
        join        account as a
        on          u.account_id = a.id
        where       a.id = #{id}
        order by    u.endDate desc;
    </select>
</mapper>