@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {

}
#body{
    margin: 0; padding: 0;
    background-color: #285FF5 ;
    position: relative;
    width: 1024px;
    height: 768px;
    border:1px solid rebeccapurple;
}

/*움직이는 원*/
#circleWrap1{
    float: right;
    width: 200px;
}
#bigCircle1{
    width: 290px;
    height: 290px;
    border-radius: 400px;
    background-color: #ffffff;
    opacity: 10%;
    position: relative;
    top: 10px;
    left: 10px;

    animation-duration: 5s;
    animation-name: slidein;
    animation-name: upDown;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}

@keyframes upDown {
    0% {
      margin-top: 0px;
    }
   50%{
    margin-top: 30px;
   }
    100% {
        margin-top: 0px;
    }
  }

#smallCircle1{
    width: 90px;
    height: 90px;
    border-radius: 400px;
    background-color: #ffffff;
    opacity: 10%;
    position: relative;
    top: 70px;
    left: -40px;
}

#circleWrap2{
    float: left;
}
#bigCircle2{
    width: 290px;
    height: 290px;
    border-radius: 400px;
    background-color: #ffffff;
    opacity: 10%;
    position: relative;
    top: 400px;
    left: -100px;

    animation-duration: 3s;
    animation-name: slidein;
    animation-name: upDown;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}

#smallCircle2{
    width: 90px;
    height: 90px;
    border-radius: 400px;
    background-color: #ffffff;
    opacity: 10%;
    position: relative;
    top: -10px;
    left: 150px;
}
/**/
#allWrap{
    width: 500px;
    height: 500px;
    border: 0px solid red;
    position: absolute;
    background-color: #ffffff;
    border-radius: 20px;
    top: 100px;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
}

/**/
#MyTimer{
    margin-top: 120px;
    font-size: 80px;
    font-weight: 600;
    color: #285FF5;
}
#title{
    margin-top: -50px;
    font-size: 40px;
    font-weight: lighter;
    color: #285FF5;
}
#time{
    margin-top: -30px;
    font-size: 25px;
    font-weight: lighter;
    color: #285FF5;
}
