
/*modal 1*/
#modalPage{
    width: 400px;
    height: 420px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 3px #7C7D7D;
    border-radius: 25px;
    display: none;
    position: relative;
    z-index: 5;
    top: -1400px;
    left: 312px;
}

.modalContent{
    margin: 0 50px;
    width: 300px;
    height: 300px;
    border: 1px solid #ffffff ;
}
.modalP{
    margin-top: 60px;
    font-size: 20px;
    color: #383838;
}
.modalSpan{
    font-weight: bold;
    color: #285FF5;
}
table {
    width: 100%;
    border-collapse: collapse;
}
#modalHr{
    border: 1px solid #707070;
}
/*input*/
.first{
    margin-top: 15px;
    padding-left: 10px;
    width: 200px;
    height: 36px;
    border: 1px solid #285FF5;
    border-radius: 7px;

}
.modalCheckBtn{
    width: 80px;
    height: 39px;
    background-color: #285FF5;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    color: white;
}
.second{
    margin-top: 10px;
    padding-left: 10px;
    width: 283px;
    height: 36px;
    border: 1px solid #285FF5;
    border-radius: 7px;
}
.third{
    margin-top: 10px;
    padding-left: 10px;
    width: 283px;
    height: 36px;
    border: 1px solid #285FF5;
    border-radius: 7px;
}
/*btn*/
.modalBtn{
    margin-top: 39px;
    width: 400px;
    height: 80px;
    /*border: 0 solid red;*/
}
.modalNoBtn{
    width: 20px;
    height: 20px;
    position: relative;
    top: 20px;
    margin-left: -50px;
}
.modalYesBtn{
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 0 0 25px 25px;
    background-color: #285FF5;
    position: relative;
    font-size: 20px;
    color: #ffffff;
}

/*modal2*/
#rePasswordModal{
    width: 400px;
    height: 420px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 3px #7C7D7D;
    border-radius: 25px;
    display: none;
    position: relative;
    z-index: 5;
    top: -1400px;
    left: 312px;
}
.reModalNoBtn{
    width: 150px;
    height: 80px;
    border: none;
    border-radius: 0 0 0 25px;
    background-color: #C3C3C3;
    float: left;
    font-size: 20px;
    color: #ffffff;
}
#modalNextBtn{
    width: 250px;
    height: 80px;
    border: none;
    border-radius: 0 0 25px 0;
    background-color: #285FF5;
    float: right;
    font-size: 20px;
    color: #ffffff;
}

/*modal3*/
#newPasswordModal{
    width: 400px;
    height: 420px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 3px #7C7D7D;
    border-radius: 25px;
    display: none;
    position: relative;
    z-index: 5;
    top: -1400px;
    left: 312px;
}
/*modal4*/
.modalPage{
    width: 500px;
    height: 460px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 3px #7C7D7D;
    border-radius: 25px;
    display: none;
    position: relative;
    z-index: 5;
    top: -1400px;
    left: 312px;
}

.newModalNoBtn{
    width: 150px;
    height: 80px;
    border: none;
    border-radius: 0 0 0 25px;
    background-color: #C3C3C3;
    float: left;
    font-size: 20px;
    color: #ffffff;
}
.finishModalBtn{
    width: 250px;
    height: 80px;
    border: none;
    border-radius: 0 0 25px 0;
    background-color: #285FF5;
    float: right;
    font-size: 20px;
    color: #ffffff;
}

#changePwdPhone{
    letter-spacing: 6px;
    text-align: center;
}
#changePwdPhone::placeholder {
    letter-spacing: normal;
    text-align: left;
}

#phoneNumberInput{
    letter-spacing: 6px;
    text-align: center;
}
#phoneNumberInput::placeholder {
    letter-spacing: normal;
    text-align: left;
}
