.modalBg{
    width: 1024px;
    height: 768px;
    background-color: rgba(195, 195, 195, 40%);
    display: none;
    position: relative;
    z-index: 4;
    top: -767px;
}
/*payment*/
#paymentModal{
    width: 600px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 3px #7C7D7D;
    border-radius: 25px;
    display: none;
    position: relative;
    z-index: 5;
    top: -1400px;
    left: 200px;
}

.modalContent2{
    margin: 0 50px;
    width: 500px;
    height: 400px;
    border: 1px solid #ffffff;
}
.modalP{
    margin-top: 30px;
    font-size: 20px;
    color: #383838;
}
.modalSpan{
    font-weight: bold;
    color: #285FF5;
}
table {
    width: 100%;
    border-collapse: collapse;
}
#modalHr{
    border: 1px solid #707070;
}


/*btn*/

#cancelPayment{
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 0 0 25px 25px;
    background-color: #285FF5;
    position: relative;
    top: 38px;
    font-size: 20px;
    color: #ffffff;
}


/*modal2*/
#challengeModal{
    width: 600px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 3px #7C7D7D;
    border-radius: 25px;
    display: none;
    position: relative;
    z-index: 5;
    top: -1400px;
    left: 200px;
}
#cancelChallenge{
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 0 0 25px 25px;
    background-color: #285FF5;
    position: relative;
    top: 38px;
    font-size: 20px;
    color: #ffffff;
}


/*#challengeModal td, #challengeModal th {*/
/*    !* 원하는 스타일을 지정하세요 *!*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*    border: 1px solid #ccc;*/
/*}*/
th {
    padding: 10px;
    text-align: center;
    background-color: #285FF5; /* 날짜, 이름, 결과 열의 배경색 설정 */
    color: white; /* 텍스트 색상 설정 */
    width: 150px; /* 날짜 열의 너비 설정 */
    border: 1px solid #ccc;
}

/* 테이블 데이터 스타일 */
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

#changePwdPhone{
    letter-spacing: 6px;
    text-align: center;
}
#changePwdPhone::placeholder {
    letter-spacing: normal;
    text-align: left;
}

#phoneNumberInput{
    letter-spacing: 6px;
    text-align: center;
}
#phoneNumberInput::placeholder {
    letter-spacing: normal;
    text-align: left;
}
