#loginFail{
    width: 180px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 3px 30px 5px gray;
    display: none;
    position: absolute;
    top: 180px;
    left: 160px;
}
#modalContent{
    width: 150px;
    height: 80px;
    border :0px solid red;
    margin-left: 15px;
    text-align: center;
    position: relative;
    top: 20px;
}
#modalP{
    font-size: 15px;
    color: #F52828;
}
#modalStrong{
    color: #F52828;
}
#modalBtn{
    position: relative;
    top: 10px;
}
#modalCheckBtn{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 0 0 20px 20px;
    background-color: #F52828;
    color: #ffffff;
}

/*자리선택 중복 모달*/
#seatModal{
    width: 300px;
    height: 188px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 3px 40px 5px #707070;
    display: none;
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: 10;
}
.modalContent{
    width: 280px;
    height: 100px;
    border :0px solid red;
    margin-left: 10px;
    text-align: center;
    position: relative;
    top: 20px;
}
.modalP{
    font-size: 18px;
    color: #707070;
}
.modalStrong{
    color: #285FF5;
}
.modalBtn{
    position: relative;
    top: 28px;
}
#modalNoBtn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 0 0 0 20px ;
    background-color: #C3C3C3;
    color: #ffffff;
    float: left;
}
#modalYesBtn{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 0 0  20px 0;
    background-color: #285FF5;
    color: #ffffff;
    float: right;
}