

img{
    margin-top: 30px;
}

#sudo-newPassword-form{
    margin: 0; padding: 0;
    margin-top: 40px;
    
}

.id{
    width: 280px;
}

#sudo-newPassword-form>p{
    margin: 0; padding: 0;
    text-align: left;
    margin-left: 103px;
    margin-top: 10px;
    color: #383838;
}

#sudo-newPassword-form :nth-child(4){
    margin-top: 20px;
}

.newPassword{
    width: 280px;
}
.password{
    width: 280px;
}