body{
    margin: 0; padding: 0;
    background-color: #EDF2FF;
    position: relative;
}
#whiteWrap{
    width: 900px;
    height: 785px;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0);
     
}
section{
    margin: 0 120px;
    margin-top: 90px;
}
/*메뉴*/
ul{
    margin-top: 30px;
}
li{
    display: inline-block;
    margin-right: 80px;
    font-size: 20px;
    width: 110px;
    height: 40px;
    border: 0px solid #285FF5;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}
#pay{
    color: #285FF5;
    font-size: 22px;
    font-weight: 500;
}
#line{
    border: 0.9px solid #285FF5;  
}


/*ticket*/
#infoBox{
    width: 535px;
    height: 20px;
    border: 0px solid #285FF5;
    border-radius: 10px;
    margin:10px 10px 10px 10px;
    padding: 15px 35px;
}
.product{color: #383838;}
.seat{
    color: #383838;
    margin-left: 70px;
}
.paidTime{
    float: right;
    color:#383838 ;
}
.havingBox{
    width: 535px;
    height: 28px;
    border: 1px solid #285FF5;
    border-radius: 10px;
    margin:10px 10px 10px 10px;
    padding: 15px 35px;
}
span{
    font-size: 20px;
    color: #285FF5;
}
.price{
    float: right;
}
#seat{
    margin-left: 70px;
}

#dot{
    border-bottom: 0.9px dotted #285FF5;
}

/*버튼*/
#nextBtn{
    width: 200px;
    height: 50px;
    background-color: #C3C3C3;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    top: 160px;
    left: 200px;
}
#payBtn{
    width: 200px;
    height: 50px;
    background-color: #285FF5;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    top: 100px;
    left: 400px;
}
