body{
    position: relative;
}

#whiteBox{
    margin: 0; padding: 0;
    padding-top: 40px;
    margin-top: 25px;
    width: 500px;
    height: 510px;
    background-color: #ffffff;
    border-radius: 15px;

    text-align: center;


    box-shadow: 0px 3px 20px 1px #E4E4E4;
    border: 0px solid red;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0);
}

/*컨텐츠*/
#title{
    margin-top: 10px;
    font-size: 32px;
    font-weight: 600;
    color: #285FF5;
}
img{
    margin-top: 40px;
    margin-bottom: 30px;
}
#text{
    font-size: 20px;
    margin-top: 80px;
    color: #86A6FF;
}

#input{
    margin: 0; padding: 0 125px;
    width: 250px;
    height: 200px;
    border: 0px solid red;
    margin-top: 120px;
    text-align: left;

}
p{
    margin: 0;padding: 0;
    margin-top: 10px;
    font-size: 15px;
    color: #383838;
}
.input{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #285FF5;
}
/*비밀번호 확인버튼*/
#checkBtn{
    margin-top: 10px;
    width: 254px;
    height: 42px;
    border-radius: 10px;
    border: none;
    background-color: #C3C3C3;
    font-size: 19px;
    color: #ffffff;
}
/*로그인버튼*/
#showBtn{
    width: 300px;
    height: 100px;
    padding: 0 100px;
}
hr{
    border: #285FF5 0.9px solid;
}
#loginBtn{
    margin-top: 20px;
    width: 254px;
    height: 42px;
    border-radius: 30px;
    border: none;
    background-color: #285FF5;
    font-size: 19px;
    color: #ffffff;
}

