body{
    margin: 0; padding: 0;
    background-color: #EDF2FF;
    position: relative;
}
#whiteWrap{
    width: 900px;
    height: 785px;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0);
     
}
section{
    margin: 0 120px;
    margin-top: 90px;
    border: 0px solid rebeccapurple;
}
/*메뉴*/
ul{
    margin-top: 30px;
}
li{
    display: inline-block;
    margin-right: 80px;
    font-size: 20px;
    width: 110px;
    height: 40px;
    border: 1px solid #285FF5;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}
#lockerTicket{
    background-color: #285FF5;
    color: #ffffff;
}
/*home*/
#homeLi{
    border: none;
    position: relative;
    top: 10px;
    left: 110px;
}
#homeImg{
    width: 35px;
    height: 35px;
}
/*------*/
hr{
    border: 0.9px solid #285FF5;  
}

/*사물함*/
#lockerFrm{
    text-align: center;
}
#locker{
    border-spacing: 10px 3px;
    margin-left: 60px;
}
.r{
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 0px solid rebeccapurple; 
}
.loker{
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 0px solid rebeccapurple;
    color: #ffffff;
}
.none{
    width: 50px;
    display: none;
}
/*사용가능,불가능*/
#info{
    width: 250px;
    height: 15px;
    border: 0px solid blue;
    margin-top: 10px;
    margin-left: 57px;
}
.box{
    display: inline-block;
    width: 15px;
    height: 15px;
}
.b{background-color: #285FF5;}
.g{background-color: #C3C3C3;}
.rBox{background-color: #F52828;}
.blue{
    color: #285FF5;
    font-size: 15px;
}
.gray{
    color:#707070;
    font-size: 15px;
}
.red{
    color:#F52828;
    font-size: 15px;
}

/*ticket*/
#ticket{
    border-spacing: 20px;
    margin-top: 10px;
    margin-left: 45px;
 }
td{
     width: 200px;
     height: 110px;
     border: 1px solid #285FF5;
     border-radius: 10px;
     text-align: center;
     margin:10px 10px 10px 10px;
 }
.t{
    font-size: 20px;
    color: #285FF5;
}
.p{
    margin-top: -10px;
    font-size: 17px;
    color: #285FF5;
}
.radio-input {
    display: none;
}
/*버튼*/
#beforeBtn{
    width: 120px;
    height: 50px;
    background-color: #C3C3C3;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    top: 100px;
    left: -150px;
}
#nextBtn{
    width: 120px;
    height: 50px;
    background-color: #285FF5;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    top: 100px;
    left: 220px;
}
