body{
    margin: 0; padding: 0;
    position: relative;
}
#whiteWrap{
    width: 900px;
    height: 350px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%,0);
}
section{
    margin: 0 120px;
    margin-top: 20px;
    border: 0px solid rebeccapurple;
}

/*사물함*/
#lockerFrm{
    text-align: center;
}
#locker{
    margin-top: 60px;
    border-collapse: separate;
    border-spacing: 10px 5px;
}
.locker{
    /*background-color: gray;*/
    width: 60px;
    height: 60px;
    border-radius: 0;
    border: 0px solid rebeccapurple;
}
.none{
    width: 50px;
    display: none;
}
/*사용가능,불가능*/
#info{
    width: 350px;
    height: 15px;
    border: 0px solid blue;
    margin-top: 20px;
    margin-left: -25px;
}
.box{
    display: inline-block;
    width: 15px;
    height: 15px;
}
.b{
    background-color: #285FF5;
    color: white;
}
.g{
    background-color: #C3C3C3;
}
.r{
    background-color: #F52828;
    color: white;
}
.m{
    background-color: #89FF00;
}
.rBox{background-color: #F52828;}
.blue{
    color: #285FF5;
    font-size: 15px;
}
.gray{
    color:#707070;
    font-size: 15px;
}
.red{
    color:#F52828;
    font-size: 15px;
}
.my{
    color: #707070;
    font-size: 15px;
}

/* 모달 */
#menuModal{
    padding: 30px;
}
.menuContent{
    max-width: 400px;
}