

img{
    margin-top: 30px;
}

#input{
    margin: 0; padding: 0;
    margin-top: 40px;
    
}



#input>p{
    margin: 0; padding: 0;
    text-align: left;
    margin-left: 103px;
    margin-top: 10px;
    color: #383838;
}

#input :nth-child(4){
    margin-top: 20px;
}

.password{
    width: 280px;
}

#agree{
    margin-left: 0px;
    margin-top: 10px;
}
#agreeText{
    font-size: 14px;
    font-weight: 200;
}
#info{
    margin-left: 100px;
    font-size: 15px;
}